.btn {
    background-color: #1DA1F2; /* Sky blue background */
    color: white; /* Text color */
    border: none; /* Remove border */
  }
  
  .btn:hover {
    background-color: #0d8ecf; /* Darker shade on hover */
  }
  
  /* Optional: If you have outline buttons */
  .btn-outline-primary {
    color: #1DA1F2; /* Sky blue text color */
    border: 1px solid #1DA1F2; /* Sky blue border */
  }
  
  .btn-outline-primary:hover {
    background-color: #1DA1F2; /* Sky blue background on hover */
    color: white; /* White text on hover */
  }
  /* Add this to Post.css or a separate CSS file */
.video-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  border-radius: 8px;
}
.page {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  width: 100vw;
  padding: 0 180px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.profilePage {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  background-color: #1DA1F2;
  min-width: fit-content;
  overflow-y: scroll;
}

.profilePage::-webkit-scrollbar {
  display: none;
}


.pageTitle {
  color: var(--twitter-color);
  text-align: center;
color: #1DA1F2;
  font-size: 30px;
}